body{
    text-align: center;
    margin: 0;
    background-color:  hsl(226, 43%, 10%);
}

.profile{
    height: 400px;
    width: 200px;
    border-radius: 20px;
    background-color: hsl(235, 45%, 61%);
}
.Work{
    background-color: hsl(235, 46%, 20%);
    width: 200px;
    height: 200px;
    margin: 300px auto 300px 465px;
    border-radius: 20px;

}